node_modules/
public/js

/target
/checkouts
/src/gen
extension/out/
extension/manifest.json
pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store
.cpcache/
.hgignore
.hg/
*.*~
output.html
launch.ps1
.cljs_node_repl/
out/
resources/**/js/