{:paths ["src/main"]

 :deps {keechma/keechma           {:mvn/version "0.3.13"}
        keechma/toolbox           {:mvn/version "0.1.24"}
        org.clojure/clojurescript {:mvn/version "1.10.520"}        
        org.clojure/clojure       {:mvn/version "1.10.1"}
        org.clojure/core.async    {:mvn/version "0.4.500"}
        cark/cark.behavior-tree   {:mvn/version "0.1.12"} #_ {:local/root "../cark.behavior-tree.3"}}

 :aliases {:all-tests {:extra-paths ["src/test" "src/example"]
                       :main-opts   ["-m" "kaocha.runner"]
                       :extra-deps  {lambdaisland/kaocha      {:mvn/version "0.0-521"}
                                     lambdaisland/kaocha-cljs {:mvn/version "0.0-32"}
                                     keechma/entitydb         {:mvn/version "0.1.4"}}}
           :example   {:extra-paths ["src/example" "resources"]
                       :extra-deps  {keechma/entitydb                          {:mvn/version "0.1.4"}
                                     binaryage/oops                            {:mvn/version "0.7.0"}
                                     org.clojars.mihaelkonjevic/garden-basscss {:mvn/version "0.2.2"}
                                     reagent                                   {:mvn/version "0.8.1"}}}
           :dev       {:extra-paths ["src/test" "src/example" "resources"]
                       :extra-deps  {thheller/shadow-cljs                      {:mvn/version "2.8.40"}
                                     binaryage/devtools                        {:mvn/version "0.9.10"}
                                     keechma/entitydb                          {:mvn/version "0.1.4"}
                                     binaryage/oops                            {:mvn/version "0.7.0"}
                                     org.clojars.mihaelkonjevic/garden-basscss {:mvn/version "0.2.2"}
                                     reagent                                   {:mvn/version "0.8.1"}
                                     org.clojure/tools.namespace               {:mvn/version "0.3.0-alpha4"}
                                     lilactown/punk-adapter-web                {:mvn/version "0.0.7"}
                                     refactor-nrepl                            {:mvn/version "2.5.0-SNAPSHOT"}
                                     cider/cider-nrepl                         {:mvn/version "0.22.0-beta4"}}}
           :garamond      {:main-opts  ["-m" "garamond.main"
                                        "-p" ""
                                        "-g" "cark"
                                        "-a" "cark.keechma.behavior-tree"
                                        "-u" "https://github.com/cark/cark.keechma.behavior-tree"]
                           :extra-deps {com.workframe/garamond {:mvn/version "0.4.0"}}}
           :metav         {:extra-deps {metav {:mvn/version "1.5.1-SNAPSHOT"}}}
           :artifact-name {:extra-deps {metav {:mvn/version "1.5.1-SNAPSHOT"}}
                           :main-opts  ["-m" "metav.display"
                                        "-r" "cark.keechma.behavior-tree"]}
           :release       {:extra-deps {metav {:mvn/version "1.5.1-SNAPSHOT"}}
                           :main-opts  ["-m" "metav.release"
                                        "-r" "cark.keechma.behavior-tree"]}
           :spit          {:extra-deps  {metav {:mvn/version "1.5.1-SNAPSHOT"}}
                           :extra-paths ["src/meta"] 
                           :main-opts   ["-m" "metav.spit"
                                         "-r" "cark.keechma.behavior-tree"
                                         "--output-dir" "src/meta"
                                         "--namespace" "cark.keechma.behavior-tree.meta"
                                         "--formats" "cljc"]}}}
