;; shadow-cljs configuration
{:deps {:aliases [:dev :example]}
 :builds
 {:example {:target :browser
            :output-dir "resources/public/example/js"
            :asset-path "js"
            :modules {:main {:entries [cark.keechma.behavior-tree.example.main]}}
            :devtools {;:after-load         keechma-test.client/start
                       :http-root          "resources/public/example"
                       :http-port          8025
                       :http-resource-root "."}}
  :test    {:target           :browser-test
            :test-dir         "resources/public/test"
            :ns-regexp        "-test$"
            :compiler-options {:static-fns false ; required for mocking to work
                               }
            :devtools         {:http-port          8022
                               :http-resource-root "public"
                               :http-root          "resources/public/test"
                               :preloads [punk.adapter.web.preload]
                               :loader-mode :eval}}}}
